.App {
  text-align: center;
}
.country-container{
  display: flex;
}
/* Style for input bar */
.input_container{
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.input-wrapper{
position:relative;
line-height: 14px;
margin:0 10px;
display:inline-block;
}
input{ 
font-size:13px;
color:#555;
outline:none;
border:1px solid #bbb;
padding:10px 20px;
border-radius:20px;
position:relative;
width:500px;
}
